<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Chess Teams
			{% endblock %}
		</title>

		{{ importmap('app') }}

		{# Materialize CSS + Material Icons #}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
			<link rel="stylesheet" href="{{ asset('styles/vendor/chessground.css') }}">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			{% block styles %}{% endblock %}
		{% endblock %}
	</head>

	<body>
		<header class="blue darken-2">
			<nav class="blue darken-2">
				<div class="nav-wrapper container">
					<a href="{{ path('app_home') }}" class="brand-logo">Chess Teams</a>
				</div>
			</nav>
		</header>
		<div class="container">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="card-panel {{ label == 'error' or label == 'danger' ? 'red lighten-4 red-text text-darken-4' : (label == 'success' ? 'green lighten-4 green-text text-darken-4' : (label == 'warning' ? 'orange lighten-4 orange-text text-darken-4' : 'blue lighten-4 blue-text text-darken-4')) }}" style="margin-top: 20px;">
						<i class="material-icons left">
							{%- if label == 'error' or label == 'danger' -%}error
							{%- elseif label == 'success' -%}check_circle
							{%- elseif label == 'warning' -%}warning
							{%- else -%}info
							{%- endif -%}
						</i>
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
		</div>
		<main class="container section"> {% block body %}{% endblock %}
			</main>

			{# Materialize JS #}
			{% block javascripts %}
				<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
				<script>
					document.addEventListener('DOMContentLoaded', function () {
const selects = document.querySelectorAll('select');
M.FormSelect.init(selects);
const tooltips = document.querySelectorAll('.tooltipped');
M.Tooltip.init(tooltips);
});
				</script>
			{% endblock %}
		</body>
	</html>
